main{
  border: 2px solid green;
  height: 500px;
}
.flex-container{
  width: 500px;
  border: 2px dashed purple;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.flex-container > div{
  border: 2px solid red;
  background-color: pink;
  padding: 30px;
  margin: 20px;
  font-size: 30px;
  color: blue;
}